<<<<<<< HEAD
ota aa
=======
kawasaki.maki
>>>>>>> 789c87a48588ffe011e2d181972527e92dca56b0
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithubu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
